<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" 
            class="form-control form-control-lg" placeholder=" Ingrese tarea">
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3">
            <div *ngIf="listTareas.length === 0" class="card p-2">
                <h6>No hay tareas para mostrar</h6>
            </div>
            <ul class="list-group ">
                <li *ngFor="let tarea of listTareas; let i=index" class="list-group-item d-flex justify-content-between">
                    <span class="cursor" (click) = "actualizarTarea(i, tarea)">
                    <i [class.text-success]="tarea.estado" [ngClass]="tarea.estado ? 'fas fa-check-circle':'far fa-circle' "></i>
                    </span>
                    {{tarea.nombre}}
                    <span class="cursor text-danger" (click) = "eliminarTarea(i)">
                    <i class="far fa-trash-alt"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>